.container-shelf1 {
    width: 4cm;
    height: 4cm;
    z-index: 0;
}

.pot {
    margin-top: 2cm;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5cm 5cm 5cm 0cm;
    justify-content: center;
}

.plant {
    width: 5cm;
    height: 5cm;   
}

.shelfimage {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 12;
    justify-content: center;
}



 .shelfimage img {
    display: block;
    width: 15cm;
    justify-content: center;
} 

.free {
    margin-top: 5cm;
}

.plus-button {
    background-color: rgb(30, 230, 30);
}
