* {
  font-family: "Comfortaa", cursive;
}

.customerBasket {
  margin: 10px;
  display: inline-block;
  border: #faebd7;
  border-bottom: #faebd7 auto;
  text-align: center;
  background-color: #faebd7;
}
